{% extends 'layout/base.html' %}
{% load static %}
{% block title %} {{ product_name }} Edit | Dealer Solution BD{% endblock %}
{% block nav_bar %}
    <nav class="max-w-lg mx-auto px-4 py-2 bg-themeblue sticky top-0 z-10 flex justify-between items-center">
        <a href="{% url 'dealer:product-stock' %}" class="inline-block">
            <div
                    class="flex items-center p-2 text-white text-base active:bg-white/20 transition duration-150 ease-in-out">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                    <path fill-rule="evenodd"
                          d="M11.03 3.97a.75.75 0 010 1.06l-6.22 6.22H21a.75.75 0 010 1.5H4.81l6.22 6.22a.75.75 0 11-1.06 1.06l-7.5-7.5a.75.75 0 010-1.06l7.5-7.5a.75.75 0 011.06 0z"
                          clip-rule="evenodd"/>
                </svg>
                <span class="ml-1 font-medium text-lg">{{ product_name }} Edit</span>
            </div>
        </a>
    </nav>
{% endblock %}
{% block main_content %}
    <section class="h-[calc(100vh-120px)]">
        <form action="" method="post">
            {% csrf_token %}
            <div class="relative float-label-input mb-4">
                <input type="text" id="productName" placeholder=" " name="productName" required
                       value="{{ product_name }}"
                       class="w-full bg-[#F6F9FC] focus:outline-none focus:shadow-outline border-[1.5px] border-gray-400 rounded py-3 px-3 block appearance-none leading-normal focus:border-gray-900">
                <label
                        class="absolute top-3 left-0 text-gray-400 pointer-events-none transition duration-200 ease-in-outbg-white px-2 text-grey-darker">
                    পণ্যের নাম</label>
            </div>
            <select name="company" required=""
                    class="mb-4 bg-[#F6F9FC] select block w-full p-2 rounded border-[1.5px] border-gray-400 text-gray-400 focus:outline-none focus:border-gray-900">
                <option selected="" disabled="">কোম্পানী</option>
                {% for company in companies %}
                    {% if company.id == product_company_id %}
                        <option value="{{ company.id }}" selected>{{ company.name }}</option>
                    {% else %}
                        <option value="{{ company.id }}">{{ company.name }}</option>
                    {% endif %}
                {% endfor %}
            </select>
            <div class="relative float-label-input mb-4">
                <input type="number" id="factor" placeholder=" " name="factor" required min="0" step="1"
                       value="{{ product_factor }}"
                       class="w-full bg-[#F6F9FC] focus:outline-none focus:shadow-outline border-[1.5px] border-gray-400 rounded py-3 px-3 block appearance-none leading-normal focus:border-gray-900">
                <label
                        class="absolute top-3 left-0 text-gray-400 pointer-events-none transition duration-200 ease-in-outbg-white px-2 text-grey-darker">ফ্যাক্টর</label>
            </div>
            <div class="flex w-full space-x-3 mb-4">
                <div class="relative float-label-input w-1/2">
                    <input type="number" id="dp" placeholder=" " name="dp" required min="0" step="0.001"
                           value="{{ dealer_buying_price_of_product }}"
                           class="w-full bg-[#F6F9FC] focus:outline-none focus:shadow-outline border-[1.5px] border-gray-400 rounded py-3 px-3 block appearance-none leading-normal focus:border-gray-900">
                    <label
                            class="absolute top-3 left-0 text-gray-400 pointer-events-none transition duration-200 ease-in-outbg-white px-2 text-grey-darker">ডিলার
                        ক্রয় মূল্য (ডিপি)</label>
                </div>
                <div class="relative float-label-input w-1/2">
                    <input type="number" id="tp" placeholder=" " name="tp" required min="0" step="0.001"
                           value="{{ dealer_selling_price_of_product }}"
                           class="w-full bg-[#F6F9FC] focus:outline-none focus:shadow-outline border-[1.5px] border-gray-400 rounded py-3 px-3 block appearance-none leading-normal focus:border-gray-900">
                    <label
                            class="absolute top-3 left-0 text-gray-400 pointer-events-none transition duration-200 ease-in-outbg-white px-2 text-grey-darker">ডিলার
                        বিক্রয় মূল্য (টিপি)</label>
                </div>
            </div>
            <label class="block mb-2 text-sm font-medium text-gray-900">পণ্যের পরিমাণ</label>

            <div class="flex w-full space-x-3 mb-4">
                <div class="flex justify-center items-center w-1/2 mb-4 border-[1.5px] border-gray-400 rounded">
                    <select name="boxCategory" required=""
                            class="bg-[#F6F9FC] select block px-4 text-gray-400 focus:outline-none focus:border-gray-900 focus:border-0">
                        {% for value, unit in unit_choices %}
                            {% if value == product_unit %}
                                <option value="{{ value }}" selected>{{ unit }}</option>
                            {% else %}
                                <option value="{{ value }}">{{ unit }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <div class="relative float-label-input border-l-2 border-gray-400 ">
                        <input type="number" id="cartoon" placeholder=" " name="cartoon" required min="0"
                               value="{{ product_quantity_in_unit }}"
                               class="w-full bg-[#F6F9FC] focus:outline-none focus:shadow-outline py-3 px-3 block appearance-none leading-normal focus:bg-transparent focus:border-0">
                        <label
                                class="absolute top-3 left-0 text-gray-400 pointer-events-none transition duration-200 ease-in-outbg-white px-2 text-grey-darker">পরিমাণ</label>
                    </div>

                </div>
                <div class="relative float-label-input w-1/2">
                    <input type="number" id="pieces" placeholder=" " name="pieces" required min="0"
                           value="{{ product_quantity_in_pieces }}"
                           class="w-full bg-[#F6F9FC] focus:outline-none focus:shadow-outline border-[1.5px] border-gray-400 rounded py-3 px-3 block appearance-none leading-normal focus:border-gray-900">
                    <label
                            class="absolute top-3 left-0 text-gray-400 pointer-events-none transition duration-200 ease-in-outbg-white px-2 text-grey-darker">
                        পিচ</label>
                </div>
            </div>
            <div class="flex w-full space-x-3 mb-4">
                <div class="relative float-label-input w-1/2">
                    <input type="number" id="productPrice" placeholder=" " name="productPrice" required min="0"
                           step="0.001"
                           value="{{ product_total_price }}"
                           class="w-full bg-[#F6F9FC] focus:outline-none focus:shadow-outline border-[1.5px] border-gray-400 rounded py-3 px-3 block appearance-none leading-normal focus:border-gray-900">
                    <label
                            class="absolute top-3 left-0 text-gray-400 pointer-events-none transition duration-200 ease-in-outbg-white px-2 text-grey-darker">পণ্যের
                        মূল্য</label>
                </div>
                <div class="relative float-label-input w-1/2">
                    <input type="number" id="pricePerpiece" name="pricePerpiece" step="0.001"
                           readonly required min="0" value="{{ product_price_per_piece }}"
                           class="w-full bg-[#F6F9FC] focus:outline-none focus:shadow-outline border-[1.5px] border-gray-400 rounded py-3 px-3 block appearance-none leading-normal focus:border-gray-900">
                    <label
                            class="absolute top-3 left-0 text-gray-400 pointer-events-none transition duration-200 ease-in-outbg-white px-2 text-grey-darker">
                        প্রতি পিচ (টাকা)</label>
                </div>
            </div>
            <button type="submit"
                    class="mt-10 w-full text-white bg-themeblue hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-md px-5 py-3 text-center">
                নিশ্চিত করুন
            </button>
        </form>
    </section>
{% endblock %}

{% block sidebar %}
    {% include 'layout/components/sidebar_dealer.html' %}
{% endblock %}

{% block custom_js %}
    <script src="{% static 'assets/js/upload-new-product.js' %}"></script>
{% endblock %}