{% extends 'layout/base.html' %}
{% load static %}
{% block title %}Dealer | Dealer Solution BD{% endblock %}
{% block nav_bar %}
    <nav class="max-w-lg mx-auto bg-themeblue sticky top-0 z-10">
        <div class="px-4 py-4">
            <div class="flex justify-between items-center">
                <div class="text-white flex">
                    <p class="text-xl text-white/80">স্বাগতম,</p> <span class="text-xl ml-1">{{ shop_name }}</span>
                </div>
                <label for="sidebar">
                    <div class="avatar online cursor-pointer">
                        <div class="w-10 rounded-full ring ring-offset-base-100 ring-offset-2">
                            <img src="{% static 'assets/img/user.jpg' %}" alt="user-image"/>
                        </div>
                    </div>
                </label>
            </div>
            <div class="mt-2">
                <p class="text-white/80">বর্তমান ক্যাশ</p>
                <h3 class="text-white text-2xl font-bold">৳ <span>24,420</span>
                </h3>
            </div>
        </div>
    </nav>
{% endblock %}
{% block main_content %}
    <section>
        <div class="grid grid-cols-2 gap-4 text-slate-800 font-medium">
            <a href="{% url 'dealer:dealer-product-upload' %}">
                <div
                        class="p-4 flex flex-col justify-center items-center shadow-md bg-white rounded-md cursor-pointer active:bg-gray-300 transition duration-150 ease-in-out">
                    <img src="{% static 'assets/img/icons/sell-product.png' %}" height="48" width="48" alt="">
                    <p class="font-medium text-gray-900">পণ্য আপলোড</p>
                </div>
            </a>
            <a href="{% url 'dealer:dealer-expenses' %}">
                <div
                        class="p-4 flex flex-col justify-center items-center shadow-md bg-white rounded-md cursor-pointer active:bg-gray-300 transition duration-150 ease-in-out">
                    <img src="{% static 'assets/img/icons/expences.png' %}" height="48" width="48" alt="">
                    <p class="font-medium text-gray-900">খরচের খাতা</p>
                </div>
            </a>
            <a href="{% url 'dealer:product-stock' %}">
                <div
                        class="p-4 flex flex-col justify-center items-center shadow-md bg-white rounded-md cursor-pointer active:bg-gray-300 transition duration-150 ease-in-out">
                    <img src="{% static 'assets/img/icons/product-stock.png' %}" height="48" width="48" alt="">
                    <p class="font-medium text-gray-900">পণ্যের স্টক</p>
                </div>
            </a>
            <a href="./business-status-dealer.html">
                <div
                        class="p-4 flex flex-col justify-center items-center shadow-md bg-white rounded-md cursor-pointer active:bg-gray-300 transition duration-150 ease-in-out">
                    <img src="{% static 'assets/img/icons/business-summary.png' %}" height="48" width="48" alt="">
                    <p class="font-medium text-gray-900">ব্যবসার অবস্থা</p>
                </div>
            </a>
            <a href="./dsr-list.html">
                <div
                        class="p-4 flex flex-col justify-center items-center shadow-md bg-white rounded-md cursor-pointer active:bg-gray-300 transition duration-150 ease-in-out">
                    <img src="{% static 'assets/img/icons/employe-management.png' %}" height="48" width="48" alt="">
                    <p class="font-medium text-gray-900">ডি.এস.আর</p>
                </div>
            </a>
        </div>
    </section>
{% endblock %}
{% block footer %}
    {% include 'layout/components/fixed_footer.html' %}
{% endblock %}

{% block sidebar %}
    {% include 'layout/components/sidebar_dealer.html' %}
{% endblock %}
