{% extends 'layout/base.html' %}
{% load static %}
{% block title %}Support Ticket | Dealer Solution BD{% endblock %}
{% block nav_bar %}
    <nav class="max-w-lg mx-auto px-4 py-2 bg-themeblue sticky top-0 z-10">
        <a href="{{ request.session.previous_page }}" class="inline-block">
            <div
                    class="flex items-center p-2 text-white text-base active:bg-white/20 transition duration-150 ease-in-out">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                    <path fill-rule="evenodd"
                          d="M11.03 3.97a.75.75 0 010 1.06l-6.22 6.22H21a.75.75 0 010 1.5H4.81l6.22 6.22a.75.75 0 11-1.06 1.06l-7.5-7.5a.75.75 0 010-1.06l7.5-7.5a.75.75 0 011.06 0z"
                          clip-rule="evenodd"/>
                </svg>
                <span class="ml-1 font-medium text-lg">সাপোর্ট</span>
            </div>
        </a>
    </nav>
{% endblock %}
{% block main_content %}
    <section class="min-h-screen">
        <form action="" class="space-y-3" method="post">
            {% csrf_token %}
            {% for field in form %}
                <div class="relative float-label-input w-full">
                    {{ field }}
                </div>
            {% endfor %}
            <button type="submit"
                    class="mt-12 w-full text-white bg-themeblue hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-md px-5 py-3 text-center">
                নিশ্চিত করুন
            </button>
        </form>
    </section>
{% endblock %}
{% block sidebar %}
    {% if user.is_dealer %}
        {% include 'layout/components/sidebar_dealer.html' %}
    {% else %}
        {% include 'layout/components/sidebar.html' %}
    {% endif %}
{% endblock %}
