<!doctype html>
<html lang="bn">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="google" content="notranslate">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link href="./assets/css/style.css" rel="stylesheet">
    <title>Dealer Solutions</title>
</head>

<body>
    <nav class="max-w-lg mx-auto px-4 py-2 bg-themeblue sticky top-0">
        <a href="./retailer.html" class="inline-block">
            <div
                class="flex items-center p-2 text-white text-base active:bg-white/20 transition duration-150 ease-in-out">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                    <path fill-rule="evenodd"
                        d="M11.03 3.97a.75.75 0 010 1.06l-6.22 6.22H21a.75.75 0 010 1.5H4.81l6.22 6.22a.75.75 0 11-1.06 1.06l-7.5-7.5a.75.75 0 010-1.06l7.5-7.5a.75.75 0 011.06 0z"
                        clip-rule="evenodd" />
                </svg>
                <span class="ml-1 font-medium text-lg">ব্যবসার অবস্থা
                </span>
            </div>
        </a>
        <div class="flex items-center justify-between mt-3">
            <h3 class="text-white text-2xl font-bold text-center">৳ <span>10,920</span></h3>
            <select id="chooseStatus" class="bg-transparent text-lg max-w-xs text-white">
                <option value="buySell" selected>বেচা বিক্রি</option>
                <option value="collection">কালেকশন</option>
                <option value="expences">খরচ খাতা</option>
                <option value="dueSummary">বাকির খাতা</option>
            </select>

        </div>

        <div class="flex justify-between my-3">
            <button id="dayBtn" data-time-period="day"
                class="text-slate-900 border rounded-lg px-5 py-0.5  bg-white/30">দিন</button>
            <button id="weekBtn" data-time-period="week"
                class="text-slate-900 border rounded-lg px-5 py-0.5 bg-white/30">সপ্তাহ</button>
            <button id="monthBtn" data-time-period="month"
                class="text-slate-900 border rounded-lg px-5 py-0.5 bg-white/30">মাস</button>
            <button id="yearBtn" data-time-period="year"
                class="text-slate-900 border rounded-lg px-5 py-0.5 bg-white/30">বছর</button>
        </div>
    </nav>

    <section>
        <div id="wrapper" class="space-y-2">
        </div>
    </section>

    <script src="./assets/js/businessStatus.js"></script>
</body>

</html>