{% load static %}
<!doctype html>
<html lang="bn">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="google" content="notranslate">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
    <title>Dealer Solutions</title>
</head>

<body>
    <nav class="max-w-lg mx-auto px-4 py-2 bg-themeblue">
        <a href="./retailer.html" class=" flex items-center">
            <div class="p-2 text-white text-base active:bg-white/20 transition duration-150 ease-in-out">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                    <path fill-rule="evenodd"
                        d="M11.03 3.97a.75.75 0 010 1.06l-6.22 6.22H21a.75.75 0 010 1.5H4.81l6.22 6.22a.75.75 0 11-1.06 1.06l-7.5-7.5a.75.75 0 010-1.06l7.5-7.5a.75.75 0 011.06 0z"
                        clip-rule="evenodd" />
                </svg>
                <span class="ml-1 font-medium text-lg">বেচা বিক্রি</span>
        </a>
        </div>
    </nav>

    <section>
        <form action="" id="pageForm" method="post">
            {% csrf_token %}
            <div class="relative float-label-input">
                <input type="date" id="datePicker" name="datePicker" placeholder=" " required
                    class="w-full bg-[#F6F9FC] focus:outline-none focus:shadow-outline border-[1.5px] border-gray-400 rounded py-3 px-3 block appearance-none leading-normal focus:border-gray-900 focus:border-2">
                <label
                    class="absolute top-3 left-0 text-gray-400 pointer-events-none transition duration-200 ease-in-outbg-white px-2 text-grey-darker">
                    তারিখ</label>
            </div>
            <div class="relative float-label-input my-4">
                <input type="number" id="totalPriceField" placeholder=" " name="totalPrice" required
                    class="w-full bg-[#F6F9FC] focus:outline-none focus:shadow-outline border-[1.5px] border-gray-400 rounded py-3 px-3 block appearance-none leading-normal focus:border-gray-900 focus:border-2">
                <label
                    class="absolute top-3 left-0 text-gray-400 pointer-events-none transition duration-200 ease-in-outbg-white px-2 text-grey-darker">পণ্যের
                    মোট মূল্য</label>
            </div>
            <div class="my-4 flex items-center justify-between gap-3">
                <div class="relative float-label-input w-2/3">
                    <input type="number" id="cashField" placeholder=" " name="cashReceived" required
                        class="w-full bg-[#F6F9FC] focus:outline-none focus:shadow-outline border-[1.5px] border-gray-400 rounded py-3 px-3 block appearance-none leading-normal focus:border-gray-900 focus:border-2">
                    <label
                        class="absolute top-3 left-0 text-gray-400 pointer-events-none transition duration-200 ease-in-outbg-white px-2 text-grey-darker">
                        নগদ গ্রহণ</label>
                </div>
                <button id="samePriceBtn"
                    class="w-1/3 text-white bg-themeblue hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-md px-3 py-3.5 text-center">
                    একই
                </button>
            </div>

            <div id="dueInfo">
                <div class="relative float-label-input my-4">
                    <input type="number" id="dueField" placeholder=" " name="dueField" readonly
                        class="w-full bg-[#F6F9FC] focus:outline-none focus:shadow-outline border-[1.5px] border-gray-400 rounded py-3 px-3 block appearance-none leading-normal focus:border-gray-900 focus:border-2">
                    <label
                        class="absolute top-3 left-0 text-gray-400 pointer-events-none transition duration-200 ease-in-outbg-white px-2 text-grey-darker">বাকি
                        আছে</label>
                </div>
                <div class="relative float-label-input my-4">
                    <input type="tel" id="numberInput" oninput="showSuggestions()" placeholder=" "
                        name="mobileNumber" required
                        class="w-full bg-[#F6F9FC] focus:outline-none focus:shadow-outline border-[1.5px] border-gray-400 rounded py-3 px-3 block appearance-none leading-normal focus:border-gray-900 focus:border-2">
                    <label
                        class="absolute top-3 left-0 text-gray-400 pointer-events-none transition duration-200 ease-in-outbg-white px-2 text-grey-darker">মোবাইল
                        নম্বর</label>
                    <ul id="suggestionsList"
                        class="absolute z-10 top-14 bg-white px-2 rounded-md shadow max-h-36 w-full overflow-y-auto">
                    </ul>
                </div>

                <div class="relative float-label-input">
                    <input type="text" id="customerName" placeholder=" " name="customerName" required
                        class="w-full bg-[#F6F9FC] focus:outline-none focus:shadow-outline border-[1.5px] border-gray-400 rounded py-3 px-3 block appearance-none leading-normal focus:border-gray-900 focus:border-2">
                    <label
                        class="absolute top-3 left-0 text-gray-400 pointer-events-none transition duration-200 ease-in-outbg-white px-2 text-grey-darker">নাম</label>
                </div>
            </div>

            <button type="submit"
                class="mt-10 w-full text-white bg-themeblue hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-md px-5 py-3 text-center">
                নিশ্চিত করুন
            </button>
        </form>

    </section>

    <script type="text/javascript" src="{% static 'assets/js/toastify.js' %}"></script>
    <script src="{% static 'assets/js/app.js' %}"></script>
<script>
    window.onload = function() {
      // Get the input fields
      const payAbleAmount = document.getElementById('totalPriceField');
      const dueAmount = document.getElementById('dueField');
      const customerName = document.getElementById('customerName');
      const customerNumber = document.getElementById('numberInput');
      const paidAmount = document.getElementById('cashField');


      // Add event listener to input1 for change event
      payAbleAmount.addEventListener('change', function() {
        const value = parseFloat(payAbleAmount.value);

        // Update input2 value
        dueAmount.value = value;
      });
      paidAmount.addEventListener('change', function (){
          const value = parseFloat(dueAmount.value);
          console.log(value);
          // Remove 'required' attribute from input3 if input1 is empty or zero
        if (value === 0 || isNaN(value)) {
          customerName.removeAttribute('required');
          customerNumber.removeAttribute('required');
        } else {
          customerName.setAttribute('required', 'required');
          customerNumber.setAttribute('required', 'required');
        }
      });
    };
  </script>
</body>


</html>