{% extends 'layout/base.html' %}
{% load static %}
{% block title %}Dues | Dealer Solution BD{% endblock %}
{% block nav_bar %}
    <nav class="max-w-lg mx-auto px-4 py-2 bg-themeblue sticky top-0 z-10">
        <a href="{% url 'retailer:retailer-home' %}" class="inline-block">
            <div
                    class="flex items-center p-2 text-white text-base active:bg-white/20 transition duration-150 ease-in-out">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                    <path fill-rule="evenodd"
                          d="M11.03 3.97a.75.75 0 010 1.06l-6.22 6.22H21a.75.75 0 010 1.5H4.81l6.22 6.22a.75.75 0 11-1.06 1.06l-7.5-7.5a.75.75 0 010-1.06l7.5-7.5a.75.75 0 011.06 0z"
                          clip-rule="evenodd"/>
                </svg>
                <span class="ml-1 font-medium text-lg">বাকির খাতা</span>
            </div>
            <div class="flex items-center">
                <p class="text-white/80">মোট বাকি: <span class="text-white font-bold">{{ my_due }}</span> টাকা</p>
            </div>
        </a>
    </nav>
{% endblock %}
{% block main_content %}
    <section class="min-h-screen">
        <div class="space-y-2 min-h-screen">
            {% for d in data %}
                <a href="{% url 'retailer:customer-dues-details' d.phone %}"
                   class="bg-gray-200/80 shadow px-2 py-2 rounded-md flex justify-between items-center">
                    <div>
                        <p>{{ d.name }}</p>
                        <p class="text-sm text-gray-500">মোবাইল: <span>{{ d.phone }}</span></p>
                    </div>
                    <div>
                        <p class="font-semibold">৳ <span>{{ d.due_amount }}</span></p>
                    </div>
                </a>
            {% endfor %}

        </div>
    </section>
{% endblock %}

