{% load static %}
<!doctype html>
<html lang="bn">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="google" content="notranslate">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
    <title>Dealer Solutions</title>
</head>

<body>
    <nav class="max-w-lg mx-auto px-4 py-2 bg-themeblue">
        <a href="{% url 'retailer:retailer-home' %}" class=" flex items-center">
            <div class="p-2 text-white text-base active:bg-white/20 transition duration-150 ease-in-out">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                    <path fill-rule="evenodd"
                        d="M11.03 3.97a.75.75 0 010 1.06l-6.22 6.22H21a.75.75 0 010 1.5H4.81l6.22 6.22a.75.75 0 11-1.06 1.06l-7.5-7.5a.75.75 0 010-1.06l7.5-7.5a.75.75 0 011.06 0z"
                        clip-rule="evenodd" />
                </svg>
                <span class="ml-1 font-medium text-lg">বাকির খাতা</span>
        </a>
        </div>
    </nav>

    <section>
        <div class="space-y-2">
            {% for d in data %}
            <a href="{% url 'retailer:customer-dues-details' d.id %}"
                class="bg-gray-200/80 shadow px-2 py-2 rounded-md flex justify-between items-center">
                <div>
                    <p>{{ d.customer_name }}</p>
                    <p class="text-sm text-gray-500">মোবাইল: <span>{{ d.customer_number }}</span></p>
                </div>
                <div>
                    <p class="font-semibold">৳ <span>{{ d.get_due  }}</span></p>
                </div>
            </a>
            {% endfor %}

        </div>
    </section>

    <script src="{% static 'assets/js/app.js' %}"></script>
</body>

</html>