{% load static %}
<!doctype html>
<html lang="bn">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="google" content="notranslate">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
    <title>Dealer Solutions</title>
</head>

<body>
<nav class="max-w-lg mx-auto px-4 py-2 bg-themeblue sticky top-0">
    <a href="{% url 'retailer:retailer-home' %}" class="inline-block">
        <div
                class="flex items-center p-2 text-white text-base active:bg-white/20 transition duration-150 ease-in-out">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                <path fill-rule="evenodd"
                      d="M11.03 3.97a.75.75 0 010 1.06l-6.22 6.22H21a.75.75 0 010 1.5H4.81l6.22 6.22a.75.75 0 11-1.06 1.06l-7.5-7.5a.75.75 0 010-1.06l7.5-7.5a.75.75 0 011.06 0z"
                      clip-rule="evenodd"/>
            </svg>
            <span class="ml-1 font-medium text-lg">প্রাইভেসি-পলিসি</span>
        </div>
    </a>
    </div>
</nav>

<section>
    Collection of Information
    Our policy is to collect personal data only when it is absolutely essential to provide our SaaS solutions,
    and we always gather it legally and transparently. We will explicitly explain why we need the information
    and obtain it only with your consent.

    The personal information we may collect includes but is not limited to:

    – Your personal identifiers like name, email, phone number, etc.
    – Your contact list details
    – Image data

    These additional data types enrich your user experience by helping us offer customized services. Your
    continued use of our platform following our notice of these changes will be interpreted as acceptance of our
    data collection practices.

    Data Retention
    We store the gathered information only for as long as it is necessary to provide the services you have
    requested. We employ commercially viable means to safeguard stored data from loss, theft, unauthorized
    access, disclosure, copying, use, or alteration.

    Disclosure of Information
    We assure you that we do not share any personally identifying information publicly or with third parties,
    except in circumstances when we are legally obligated, enforcing our site policies, or ensuring ours or
    others’ rights, property or safety.

    Third-Party Websites
    Our platform may contain links to external sites which are beyond our control. We recommend you be aware
    that we cannot be held responsible or liable for the content, practices, or privacy policies of these sites.

    User Rights
    You have the right to refuse our request for your personal information, with the understanding that this may
    limit our ability to provide you with certain services. You can also request to view, update, correct, or
    delete the personal data we hold about you.

    Acceptance of This Policy
    Your continued use of our software or services signifies your acceptance of our privacy and personal data
    handling practices. If you have any questions about our user data handling and privacy practices, do not
    hesitate to reach out to us.

    This policy was enacted on 26 July 2020 and updated as of 13 June 2023 to adhere to the most recent
    regulations and standards.

    We may periodically update our privacy policy, with all changes posted on this page. We encourage our users
    to check this page frequently to stay informed about our commitment to protecting the personal information
    we collect.

</section>

</body>

</html>