{% extends 'layout/base.html' %}
{% load static %}
{% block title %}Privacy & Policy | Dealer Solution BD{% endblock %}
{% block nav_bar %}
    <nav class="max-w-lg mx-auto px-4 py-2 bg-themeblue sticky top-0 z-10">
        <a href="{% url 'retailer:retailer-home' %}" class="inline-block">
            <div
                    class="flex items-center p-2 text-white text-base active:bg-white/20 transition duration-150 ease-in-out">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                    <path fill-rule="evenodd"
                          d="M11.03 3.97a.75.75 0 010 1.06l-6.22 6.22H21a.75.75 0 010 1.5H4.81l6.22 6.22a.75.75 0 11-1.06 1.06l-7.5-7.5a.75.75 0 010-1.06l7.5-7.5a.75.75 0 011.06 0z"
                          clip-rule="evenodd"/>
                </svg>
                <span class="ml-1 font-medium text-lg">প্রাইভেসি-পলিসি</span>
            </div>
        </a>
    </nav>
{% endblock %}
{% block main_content %}
    <section class="min-h-screen text-gray-600">
        <h1 class="text-gray-700 font-bold text-5xl mb-4">Privacy Policy</h1>
        DSB (Dealer Solution Bangladesh) is committed to protecting your privacy and this privacy statement
        describes in greater detail the privacy practices of DSB (Dealer Solution Bangladesh) .

        <h1 class="text-gray-700 font-bold text-5xl my-4">General</h1>
        Review these Privacy Policy thoroughly. This Agreement is a legal agreement between the User and DSB
        (Dealer Solution Bangladesh) . By accepting electronically (for example, clicking “I Agree”),
        installing, accessing or using the Services, User agrees to these terms. If the User does not agree to
        this Agreement, then he/she may not use the Services. This License Agreement shall be governed by and
        construed in accordance with the laws of the BANGLADESH.

        <h1 class="text-gray-700 font-bold text-5xl my-4">When This Privacy Statement Applies</h1>
        Its liability to User is limited to those who has downloaded the DSB (Dealer Solution Bangladesh)
        application by clicking on to the “I Agree/Login” button for Terms and Conditions.
        Business Data And Privacy
        The User alone is responsible for maintaining the confidentiality of his/her username, password and
        other sensitive information. He/She is responsible for all activities that occur in his/her user account
        and he/she agrees to inform us immediately of any unauthorized use of their user account by calling us
        on any of the numbers listed on www.dsb.com. We are not responsible for any loss or damage to his/her
        or to any third party incurred as a result of any unauthorized access and/or use of his/her user
        account, or otherwise. We are neither responsible for any kind of data loss as performing necessary
        backups on data is solely the User’s responsibility. DSB (Dealer Solution Bangladesh) is not responsible
        for any kind of data discrepancy or any type of loss occurred due to data discrepancy/software issue.

        <h1 class="text-gray-700 font-bold text-5xl my-4">Data We Collect</h1>
        To create an account, you need to provide data including your name, mobile number and business name. You
        also may need to provide your business address after registration and provide images for creating
        products & upload photos for user's profile.

        <h1 class="text-gray-700 font-bold text-5xl my-4">How We Use Data</h1>
        Our app will request access to your contact list and image to help you create different type of business
        profile in the app. We will only use the contact list information and image to create user's profile &
        products. We do not sell, rent, or share your contact list & image with any third party.

        <h1 class="text-gray-700 font-bold text-5xl my-4">Data Ownership</h1>
        The User owns the content created or stored by his/her as we respect his/her right to ownership of
        content created or stored by them. The Users use of the Services does grant DSB (Dealer Solution
        Bangladesh) the license to use, reproduce, adapt, modify, publish or distribute the content created by
        them or stored in the user’s account for DSB (Dealer Solution Bangladesh) internal purpose. DSB (Dealer
        Solution Bangladesh) tries keeping Users data safe but holds zero responsibility in case of data leaks.

        <h1 class="text-gray-700 font-bold text-5xl my-4">Permissions</h1>
        Camera To take the picture of the bills etc to be attached with transactions.
        Contacts To autofill the details during party creation.
        Storage To store reports, PDF, Excels generated by users and access user selected images to attach with
        bills and to create profiles & products.
        Location To customize the application according to your region.
    </section>
{% endblock %}
