{% extends 'layout/base.html' %}
{% load static %}
{% block title %}Retailer | Dealer Solution BD{% endblock %}
{% block nav_bar %}
    <nav class="max-w-lg mx-auto bg-themeblue sticky top-0 z-10">
        <div class="px-4 py-4">
            <div class="flex justify-between items-center">
                <div>
                    <p class="text-white/80">বর্তমান ক্যাশ</p>
                    <h3 class="text-white text-2xl font-bold">৳ <span>{{ my_cash }}</span>
                    </h3>
                </div>
                <label for="sidebar">
                    <div class="avatar online cursor-pointer">
                        <div class="w-10 rounded-full ring ring-offset-base-100 ring-offset-2">
                            <img src="{{ image }}"/>
                        </div>
                    </div>
                </label>
            </div>
            <div class="mt-3 text-white grid grid-cols-3 divide-x-2 divide-white/20">
                <div class="flex flex-col items-center">
                    <p class="text-white/80">আজকের বিক্রি</p>
                    <p class="font-medium text-lg">৳ <span>{{ total_sell }}</span></p>
                </div>
                <div class="flex flex-col items-center">
                    <p class="text-white/80">আজকের ব্যয়</p>
                    <p class="font-medium text-lg">৳ <span>{{ paid_amount__sum }}</span></p>
                </div>
                <div class="flex flex-col items-center">
                    <p class="text-white/80">আজকের বাকি</p>
                    <p class="font-medium text-lg">৳ <span>{{ total_due }}</span></p>
                </div>
            </div>
        </div>
        <div class="bg-rose-500 px-4 py-1 text-center">
            <p class="text-white text-white/95">মোট বাকি: <span
                    class="text-white font-medium text-lg">{{ my_due }}</span> টাকা</p>
        </div>
    </nav>
{% endblock %}

{% block main_content %}
    <section>
        <div class="grid grid-cols-2 gap-4 text-slate-800 font-medium">
            <a href="{% url 'retailer:buy-sell' %}">
                <div
                        class="p-4 flex flex-col justify-center items-center shadow-md bg-white rounded-md cursor-pointer active:bg-gray-300 transition duration-150 ease-in-out">
                    <img src="{% static 'assets/img/icons/buy-sell.png' %}" height="48" width="48" alt="">
                    <p class="font-medium text-gray-900">বেচা বিক্রি</p>
                </div>
            </a>
            <a href="{% url 'retailer:retailer-collection' %}">
                <div
                        class="p-4 flex flex-col justify-center items-center shadow-md bg-white rounded-md cursor-pointer active:bg-gray-300 transition duration-150 ease-in-out">
                    <img src="{% static 'assets/img/icons/collection.png' %}" height="48" width="48" alt="">
                    <p class="font-medium text-gray-900">কালেকশন</p>
                </div>
            </a>
            <a href="{% url 'retailer:retailer-expenses' %}">
                <div
                        class="p-4 flex flex-col justify-center items-center shadow-md bg-white rounded-md cursor-pointer active:bg-gray-300 transition duration-150 ease-in-out">
                    <img src="{% static 'assets/img/icons/expences.png' %}" height="48" width="48" alt="">
                    <p class="font-medium text-gray-900">খরচের খাতা</p>
                </div>
            </a>
            <a href="{% url 'retailer:retailer-dues' %}">
                <div
                        class="p-4 flex flex-col justify-center items-center shadow-md bg-white rounded-md cursor-pointer active:bg-gray-300 transition duration-150 ease-in-out">
                    <img src="{% static 'assets/img/icons/due-note.png' %}" height="48" width="48" alt="">
                    <p class="font-medium text-gray-900">বাকির খাতা</p>
                </div>
            </a>
            <a href="{% url 'retailer:retailer-business-status' %}">
                <div
                        class="p-4 flex flex-col justify-center items-center shadow-md bg-white rounded-md cursor-pointer active:bg-gray-300 transition duration-150 ease-in-out">
                    <img src="{% static 'assets/img/icons/business-summary.png' %}" height="48" width="48" alt="">
                    <p class="font-medium text-gray-900">ব্যবসার অবস্থা</p>
                </div>
            </a>
        </div>
    </section>
{% endblock %}
{% block footer %}
    {% include 'layout/components/fixed_footer.html' %}
{% endblock %}