{% load static %}
<!DOCTYPE html>
<html lang="bn">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="google" content="notranslate">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
    <title>Login | Dealer Solutions</title>
</head>

<body>
    <section>
        <div class="flex flex-col items-center justify-center mx-auto">
            <img class="mb-6 mt-4" src="{% static 'assets/img/inventory.png' %}" alt="logo">
            <div class="space-y-4 w-full">
                <h1 class="text-2xl font-bold leading-tight tracking-tight text-gray-900 py-3">
                    লগ-ইন করুন
                </h1>
                <form action="{% url 'authentication:login' %}" class="space-y-4 md:space-y-6" method="post">
                    {% csrf_token %}
{#                    <div>#}
{#                        <label for="email" class="block mb-2 text-sm font-medium text-gray-900">#}
{#                            মোবাইল</label>#}
{#                        <input type="number" name="number" id="number"#}
{#                            class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 font-medium [appearance:textfield] [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:appearance-none"#}
{#                            placeholder="01700000000" required="">#}
{#                    </div>#}
{#                    <div>#}
{#                        <label for="password" class="block mb-2 text-sm font-medium text-gray-900">পাসওয়ার্ড</label>#}
{#                        <input type="password" inputmode="numeric" name="password" id="password" placeholder="••••••••"#}
{#                            class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 font-medium"#}
{#                            required="">#}
{#                    </div>#}
                    {{ login_form }}
                    {{ msg }}
                    <!-- <div class="flex items-center justify-between">
                            <div class="flex items-start">
                                <div class="flex items-center h-5">
                                    <input id="remember" aria-describedby="remember" type="checkbox"
                                        class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-blue-300"
                                        required="">
                                </div>
                                <div class="ml-3 text-sm">
                                    <label for="remember" class="text-gray-500">Remember me</label>
                                </div>
                            </div>
                            <a href="#" class="text-sm font-medium text-blue-600 hover:underline">Forgot
                                password?</a>
                        </div> -->
                    <button type="submit"
                        class="w-full text-white bg-themeblue hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-md px-5 py-3 text-center">
                        এগিয়ে যান</button>
                    <p class="text-gray-500 font-medium text-sm text-center py-3">নতুন একাউন্ট খুলতে এডমিনের সাথে
                        যোগাযোগ করুন।
                    </p>

                    <div class="flex justify-between items-center font-medium text-themeblue/75 text-sm">
                        <p>শর্তসমূহ</p>
                        <p>প্রাইভেসি পলিসি</p>
                        <p>যোগাযোগ করুন</p>
                    </div>
                </form>
            </div>
        </div>
    </section>
</body>

</html>