{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <title>{% block title %}Card Manager{% endblock %}</title>
        <!-- Add any custom head elements here -->
        {% include 'layout/components/head.html' %}
    </head>
    <body>
        <div class="sufee-login d-flex align-content-center flex-wrap h-100">
            <!-- Load main content here -->
            <!-- Content of login or signup -->
            {% block content %}{% endblock %}

            <!-- Load any footer files here -->
        <div class="fixed-bottom">
            {% block footer %}
                {% include 'layout/components/footer.html' %}
            {% endblock %}
        </div>
        </div>

        <!-- Load any required JavaScript files here -->
        {% block js %}
            {% include 'layout/components/js_scripts.html' %}
        {% endblock %}
    </body>
</html>